<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Crosp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>08E4C5AD42F6A0D897BF3407095D8D60495DB95A</string>
				<key>dateExpires</key>
				<string>6/25/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3H6XX85AYY.dev.koshy.crossingpaths.Crosp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>3H6XX85AYY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Crosp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>86af3067-869a-49bc-a5e4-2b07de78006c</string>
				<key>dateExpires</key>
				<string>6/25/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: dev.koshy.crossingpaths.Crosp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3H6XX85AYY</string>
				<key>name</key>
				<string>Joshua Koshy</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.11</string>
		</dict>
	</array>
</dict>
</plist>
